html {
  font-size: 24px;
  font-family: Arial, Helvetica, sans-serif;
  line-height: 140%;
  background-color: beige;
}

.content {
  padding: 20px 40px;
  margin: 0;
}

.dropdown {
  position: relative;
}

.dropdown__trigger {
  font: inherit;
}

.dropdown__content {
  position: absolute;
  margin-top: 10px;
  border-radius: 10px;
  background-color: #fff;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, .1);

  overflow: hidden;
  max-height: 0; /* by default */

  transition: max-height .5s;
}

/* If dropdown active, then content inside it should be... */
.dropdown--active .dropdown__content {
  max-height: 100vh;
}

/* Rolling up is not simultaneously, but with a delay. When I click on an element, it first rolling down, but them animation continues too 100vh. Actual height isn't 
changes, but max-height continues to be animated. `.5s` isn't performed for animaation of height, but for animation of the rest. so we have delay when rolling up.
*/
