body {
  margin: 0;
  color: #fff;
  font-weight: 000;
  font-size: 24px;
  text-align: center;
}

.box {
  box-sizing: border-box;
  position: absolute;
  padding: 1em;
}

.container {
  position: relative;
  height: 100vh;
}

.header {
  height: 16.66%; /* 1/6 */
  width: 100%;
  top: 0;
  background-color: #253b4a;
}

.sidebar {
  height: 66.66%; /* 2/3 */
  width: 25%;
  top: 16.66%; /* 1/6 */
  left: 0;
  background-color: #ffbc00;
}

.ads {
  background-color: #257d92;
}

.main {
  background-color: #ff530d;
}

.news {
  background-color: #ffbc00;
}

.footer {
  height: 16.66%; /* 1/6 */
  width: 100%;
  bottom: 0;
  background-color: #257d92;
}
