/* Pancake Stack (Header, Main, Footer */
/* 
`grid-template-rows: auto 1fr autto` 

First and last elements take up space internal elements allow.

1fr is remainning space (`<main>`)

- application tool bar
*/

body {
  font-family: system-ui, serif;

  display: grid;
  height: 100vh;
  grid-template-rows: auto 1fr auto;

  padding: 0;
  margin: 0;
}

header {
  background-color: lightpink;
  padding: 2rem;
}

main {
  background: coral;
  padding: 2rem;
}

footer {
  background: wheat;
  padding: 2rem;
  text-align: center;
}