/* Deconstructed pancake */
/* flex: 0 1 <baseWidth */
/* flex: flex-grow flex-shrink flex-basis */

body {
  font-family: system-ui, serif;
}

.parent {
  display: flex;
  flex-wrap: wrap;
  justify-content: center; 
  /* doesn't work if we want items to stretch */
}

.child {
  /* If we don't want the items to stretch */
  flex: 0 1 300px; /* no stretch */
  /* flex: 0 1 <baseWidth */

  /* If we want the items to stretch */
  /* flex: 1 1 150px; /* stretch */

  margin: 5px;

  border: 1px solid red;
  background: lightpink;
  font-size: 2rem;
  text-align: center;
}
