body {
  display: flex;
  gap: 8px;
}

.link {
  box-sizing: border-box;
  width: 100%;
  padding: 30px;
  font-size: 30px;
  text-align: center;
}

.link {
  height: 100px;
  background-color: #ccc;
  cursor: pointer;
  transition-duration: 1s, 500ms;
  transition-property: height, background-color;
  /* `height` changes during `1s`, `background-color` changes during `500ms` */

  transition-delay: 500ms;
}

.link:hover {
  transition-duration: 2s;
  background-color: #aaa;
  height: 200px;
}
