/* Clamping My Style */
/* 
`width: clamp(23ch, 50%, 46ch)`
`clamp(<min>, <actual>, <max>)`

If `50%` means bigger than `46ch`, then it's going to stop getting bigger. Card stops decreasing its size when 50% of it's parent's size means that it's smaller than `23ch`.

Use `clamp` for:
- width
- font
*/

body {
  font-family: system-ui, serif;

  display: grid;
  place-items: center;
  height: 100vh;

  padding: 0;
  margin: 0;
}

.visual {
  height: 100px;
  width: 100%;
  background: wheat;
  margin: 0.5rem 0;
}

.card {
  width: clamp(23ch, 50%, 46ch);
  display: flex;
  flex-direction: column;
  background: lightpink;
  padding: 1rem;
}

h1 {
  font-size: 1.5rem;
}
