/* Sidebar Says */
/* grid-template-columns: minmax(<min>, <max>) ... */

body {
  font-family: system-ui, serif;

  display: grid;
  grid-template-columns: minmax(150px, 25%) 1fr;
  /* 1 fr is up the rest of the remaining space */

  padding: 0;
  margin: 0;
}

.sidebar {
  height: 100vh;

  padding-top: 2rem;
  background: lightpink;
  font-size: 2rem;
  text-align: center;
}

.content {
  margin: 0;
  padding: 2rem;

  font-size: 2rem;
  background: lightblue;
}
